@{
    ViewBag.Title = "Exceptions";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Provoke application exceptions and check how they are handled.</p>

    <hr />

    <form method="post" action="/Exceptions/NullReferenceException">
        <button type="submit">NullReferenceException</button>
    </form>

    <br />

    <form method="post" action="/Exceptions/InvalidOperationException">
        <button type="submit">InvalidOperationException</button>
    </form>

    <br />

    <form method="post" action="/Exceptions/DivideByZeroException">
        <button type="submit">DivideByZeroException</button>
    </form>

</main>
