@{
    ViewBag.Title = "Test Custom-Error-Pages (CEP)";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Force specific HttpStatus, HttpException or other C# exception.</p>

    <hr />

    <!-- #region Force specific HttpStatus -->
    <form method="post" action="/CEPTesting/HttpStatus?code=400">
        <button type="submit">HttpStatus 400</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=401">
        <button type="submit">HttpStatus 401</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=403">
        <button type="submit">HttpStatus 403</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=404">
        <button type="submit">HttpStatus 404</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=405">
        <button type="submit">HttpStatus 405</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=408">
        <button type="submit">HttpStatus 408</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=409">
        <button type="submit">HttpStatus 409</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=410">
        <button type="submit">HttpStatus 410</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=413">
        <button type="submit">HttpStatus 413</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=414">
        <button type="submit">HttpStatus 414</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=415">
        <button type="submit">HttpStatus 415</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=429">
        <button type="submit">HttpStatus 429</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=500">
        <button type="submit">HttpStatus 500</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=501">
        <button type="submit">HttpStatus 501</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=502">
        <button type="submit">HttpStatus 502</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=503">
        <button type="submit">HttpStatus 503</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=504">
        <button type="submit">HttpStatus 504</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpStatus?code=505">
        <button type="submit">HttpStatus 505</button>
    </form>
    <!-- #endregion Force specific HttpStatus -->

    <hr />

    <!-- #region Force specific HttpException -->
    <form method="post" action="/CEPTesting/HttpException?code=400">
        <button type="submit">HttpException 400</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=401">
        <button type="submit">HttpException 401</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=403">
        <button type="submit">HttpException 403</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=404">
        <button type="submit">HttpException 404</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=405">
        <button type="submit">HttpException 405</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=408">
        <button type="submit">HttpException 408</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=409">
        <button type="submit">HttpException 409</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=410">
        <button type="submit">HttpException 410</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=413">
        <button type="submit">HttpException 413</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=414">
        <button type="submit">HttpException 414</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=415">
        <button type="submit">HttpException 415</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=429">
        <button type="submit">HttpException 429</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=500">
        <button type="submit">HttpException 500</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=501">
        <button type="submit">HttpException 501</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=502">
        <button type="submit">HttpException 502</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=503">
        <button type="submit">HttpException 503</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=504">
        <button type="submit">HttpException 504</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/HttpException?code=505">
        <button type="submit">HttpException 505</button>
    </form>
    <!-- #endregion Force specific HttpException -->

    <hr />

    <!-- #region Force other C# excepction -->
    <form method="post" action="/CEPTesting/NullReferenceException">
        <button type="submit">NullReferenceException</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/InvalidOperationException">
        <button type="submit">InvalidOperationException</button>
    </form>
    <br />
    <form method="post" action="/CEPTesting/DivideByZeroException">
        <button type="submit">DivideByZeroException</button>
    </form>
    <!-- #endregion Force other C# excepction -->

</main>
