<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CEP Internal Server Error (500)</title>
</head>
<body style="background-color: #f8d7da">

    <hgroup>
        <h1>CEP Internal Server Error (500)</h1>
    </hgroup>

    <div style="margin-top: 40px; text-align: left;">
        <button onclick="window.location.href='/'"
                style="padding: 12px 24px; font-size: 16px; cursor: pointer">
            Reload application
        </button>
    </div>

</body>
</html>
