<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  
  <system.web>

    <!-- IMPORTANT: debug should be false in production -->
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>

    <!-- ASP.NET-level errors (MVC pipeline) -->
    <customErrors mode="On"
                  defaultRedirect="~/Error/HttpStatus?code=500"
                  redirectMode="ResponseRewrite">

      <!-- Common 4xx -->
      <error statusCode="400" redirect="~/Error/HttpStatus?code=400" />
      <error statusCode="401" redirect="~/Error/HttpStatus?code=401" />
      <error statusCode="403" redirect="~/Error/HttpStatus?code=403" />
      <error statusCode="404" redirect="~/Error/HttpStatus?code=404" />
      <error statusCode="405" redirect="~/Error/HttpStatus?code=405" />
      <error statusCode="408" redirect="~/Error/HttpStatus?code=408" />
      <error statusCode="409" redirect="~/Error/HttpStatus?code=409" />
      <error statusCode="410" redirect="~/Error/HttpStatus?code=410" />
      <error statusCode="413" redirect="~/Error/HttpStatus?code=413" />
      <error statusCode="414" redirect="~/Error/HttpStatus?code=414" />
      <error statusCode="415" redirect="~/Error/HttpStatus?code=415" />
      <error statusCode="429" redirect="~/Error/HttpStatus?code=429" />

      <!-- Common 5xx -->
      <error statusCode="500" redirect="~/Error/HttpStatus?code=500" />
      <error statusCode="501" redirect="~/Error/HttpStatus?code=501" />
      <error statusCode="502" redirect="~/Error/HttpStatus?code=502" />
      <error statusCode="503" redirect="~/Error/HttpStatus?code=503" />
      <error statusCode="504" redirect="~/Error/HttpStatus?code=504" />
      <error statusCode="505" redirect="~/Error/HttpStatus?code=505" />

    </customErrors>
    
  </system.web>
  
  <system.webServer>

    <!-- IIS-level errors (static files, pipeline, etc.) -->
    <httpErrors errorMode="Custom" existingResponse="Replace">

      <!-- Map common codes to the same MVC endpoint -->
      <remove statusCode="400" />
      <error statusCode="400" responseMode="ExecuteURL" path="/Error/HttpStatus?code=400" />
      
      <remove statusCode="401" />
      <error statusCode="401" responseMode="ExecuteURL" path="/Error/HttpStatus?code=401" />

      <remove statusCode="403" />
      <error statusCode="403" responseMode="ExecuteURL" path="/Error/HttpStatus?code=403" />

      <remove statusCode="404" />
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/HttpStatus?code=404" />

      <remove statusCode="405" />
      <error statusCode="405" responseMode="ExecuteURL" path="/Error/HttpStatus?code=405" />

      <remove statusCode="408" />
      <error statusCode="408" responseMode="ExecuteURL" path="/Error/HttpStatus?code=408" />

      <remove statusCode="409" />
      <error statusCode="409" responseMode="ExecuteURL" path="/Error/HttpStatus?code=409" />

      <remove statusCode="410" />
      <error statusCode="410" responseMode="ExecuteURL" path="/Error/HttpStatus?code=410" />

      <remove statusCode="413" />
      <error statusCode="413" responseMode="ExecuteURL" path="/Error/HttpStatus?code=413" />

      <remove statusCode="414" />
      <error statusCode="414" responseMode="ExecuteURL" path="/Error/HttpStatus?code=414" />

      <remove statusCode="415" />
      <error statusCode="415" responseMode="ExecuteURL" path="/Error/HttpStatus?code=415" />

      <remove statusCode="429" />
      <error statusCode="429" responseMode="ExecuteURL" path="/Error/HttpStatus?code=429" />

      <remove statusCode="500" />
      <error statusCode="500" responseMode="ExecuteURL" path="/Error/HttpStatus?code=500" />

      <remove statusCode="501" />
      <error statusCode="501" responseMode="ExecuteURL" path="/Error/HttpStatus?code=501" />

      <remove statusCode="502" />
      <error statusCode="502" responseMode="ExecuteURL" path="/Error/HttpStatus?code=502" />

      <remove statusCode="503" />
      <error statusCode="503" responseMode="ExecuteURL" path="/Error/HttpStatus?code=503" />

      <remove statusCode="504" />
      <error statusCode="504" responseMode="ExecuteURL" path="/Error/HttpStatus?code=504" />

      <remove statusCode="505" />
      <error statusCode="505" responseMode="ExecuteURL" path="/Error/HttpStatus?code=505" />

    </httpErrors>
    
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>